// Colors
$ColorPrimary: #429fe5;
$ColorSecondary: #2db6de;
$ColorTertiary: #7da7e3;
$ColorBackground: #e9edf6;
$ColorAccent: #f1751b;
$ColorAccentVariant: #182033;
$ColorWhite: #ffffff;

// Fonts
$teachers: "Teachers", sans-serif;
