// Colors
$darkRose: #235f81;
$lightSky: #df8b4e;
$lavender: #dcdde8;
$white: #ffffff;
$amber: #ed5f0b;
$azure: #47a9d2;
$lightBlue: #bbdcee;
$darkMaroon: #000e1e;
$cyan: #1fcbe9;


// Fonts
$teachers: "Teachers", sans-serif;
